In [ ]:
%reload_ext autoreload
%autoreload 2

In [ ]:
# import nbdbt2.dbt_cellmagic

In [ ]:
%reload_ext nbdbt2.dbt_cellmagic

In [ ]:
%dbtconfig -d ../test_profiles -p ../test_dbt_project2 -n explore/explore-test-dbt-project.ipynb

In [ ]:
import nbdbt2.integration.project as nbdbtproject

In [ ]:
from nbdbt2.dbt_cellmagic import nbdbt_config

In [ ]:
nbdbt = nbdbtproject.NbDbt(project_dir=nbdbt_config['project_dir'], 
                         profiles_dir=nbdbt_config['profiles_dir'],
                         profile_target='dev')

17:32:23 [fal]: [WARNING]: Could not read dbt run_results artifact
17:32:23  Registered adapter: duckdb=1.7.0
17:32:23  Running with dbt=1.7.4
17:32:23  Registered adapter: duckdb=1.7.0
17:32:23  [WARNING]: Configuration paths exist in your dbt_project.yml file which do not apply to any resources.
There are 2 unused configuration paths:
- models.test_dbt_project2.conformed
- models.test_dbt_project2.prep
17:32:23  Performance info: /home/butch2/play/experiments/nbtools/nbdbt2/test_dbt_project2/target/perf_info.json
17:32:23  Found 1 model, 1 analysis, 1 operation, 8 sources, 0 exposures, 0 metrics, 506 macros, 0 groups, 0 semantic models
17:32:23 [fal]: [WARNING]: Could not read dbt sources artifact: Runtime Error
  Could not read FreshnessExecutionResultArtifact at "target/sources.json" as JSON: [Errno 2] No such file or directory: 'target/sources.json'

In [ ]:
sources = nbdbt.list_sources(); sources

[DbtSource(name='nba', table_name='schedule', tests=[], status='skipped'),
 DbtSource(name='nba', table_name='team_ratings', tests=[], status='skipped'),
 DbtSource(name='nba', table_name='xf_series_to_seed', tests=[], status='skipped'),
 DbtSource(name='nba', table_name='nba_elo_latest', tests=[], status='skipped'),
 DbtSource(name='nba', table_name='latest_RAPTOR_by_player', tests=[], status='skipped'),
 DbtSource(name='nba', table_name='latest_RAPTOR_by_team', tests=[], status='skipped'),
 DbtSource(name='nba_prep', table_name='elo_post', tests=[], status='skipped'),
 DbtSource(name='nba_prep', table_name='results_log', tests=[], status='skipped')]

In [ ]:
%%dbt -a schedule analysis/qry_schedule_source.sql
select *
from {{ source('nba','schedule') }}

In [ ]:
%%dbt -a raw_schedule models/raw/raw_schedule.sql
select *
from {{ source('nba','schedule') }}

17:32:23 [fal]: [WARNING]: Could not read dbt run_results artifact
17:32:23  Registered adapter: duckdb=1.7.0
17:32:23  Running with dbt=1.7.4
17:32:23  Registered adapter: duckdb=1.7.0
17:32:24  [WARNING]: Configuration paths exist in your dbt_project.yml file which do not apply to any resources.
There are 2 unused configuration paths:
- models.test_dbt_project2.conformed
- models.test_dbt_project2.prep
17:32:24  Performance info: /home/butch2/play/experiments/nbtools/nbdbt2/test_dbt_project2/target/perf_info.json
17:32:24  Found 1 model, 1 analysis, 1 operation, 8 sources, 0 exposures, 0 metrics, 506 macros, 0 groups, 0 semantic models
17:32:24  The selection criterion 'models/raw/raw_schedule.sql' does not match any nodes
17:32:24 [fal]: [WARNING]: Could not read dbt sources artifact: Runtime Error
  Could not read FreshnessExecutionResultArtifact at "target/sources.json" as JSON: [Errno 2] No such file or directory: 'target/sources.json'
17:32:24  Found 1 model, 1 analysis, 1 operation, 8 sources, 0 exposures, 0 metrics, 506 macros, 0 groups, 0 semantic models
17:32:24
17:32:24  Concurrency: 4 threads (target='dev')
17:32:24
17:32:24  Compiled node 'raw_schedule' is:
-- AUTOGENERATED! DO NOT EDIT! File to edit: explore/explore-test-dbt-project.ipynb (unless otherwise specified).
select *
from '/home/butch2/play/experiments/nbtools/nbdbt2/data/data_catalog/psa/nba_schedule_2023/*.parquet'

In [ ]:
nbdbt.list_models()

[DbtModel(name='raw_schedule', alias='raw_schedule', unique_id='model.test_dbt_project2.raw_schedule', columns={}, tests=[], status='skipped')]

In [ ]:
%cd ../test_dbt_project2
!dbt run -s raw_schedule

/home/butch2/play/experiments/nbtools/nbdbt2/test_dbt_project2
17:32:27  Running with dbt=1.7.4
17:32:27  Registered adapter: duckdb=1.7.0
17:32:27  Unable to do partial parsing because config vars, config profile, or config target have changed
17:32:28  Statements to run:
17:32:29  [WARNING]: Configuration paths exist in your dbt_project.yml file which do not apply to any resources.
There are 2 unused configuration paths:
- models.test_dbt_project2.prep
- models.test_dbt_project2.conformed
17:32:29  Found 1 model, 1 analysis, 1 operation, 8 sources, 0 exposures, 0 metrics, 506 macros, 0 groups, 0 semantic models
17:32:29
17:32:29  Concurrency: 4 threads (target='dev')
17:32:29
17:32:29  1 of 1 START sql table model main.raw_schedule ................................. [RUN]
17:32:29  1 of 1 OK created sql table model main.raw_schedule ............................ [OK in 0.22s]
17:32:29
17:32:29  Running 1 on-run-end hook
17:32:29  Statements to run:
17:32:29  1 of 1 START hook: test_dbt_project2.on-run-end.0 .............................. [RUN]
17:32:29  1 of 1 OK hook: test_dbt_project2.on-run-end.0 ................................. [OK in 0.00s]
17:32:29
17:32:29
17:32:29  Finished running 1 table model, 1 hook in 0 hours 0 minutes and 0.48 seconds (0.48s).
17:32:29
17:32:29  Completed successfully
17:32:29
17:32:29  Done. PASS=1 WARN=0 ERROR=0 SKIP=0 TOTAL=1

In [ ]:
nbdbt2 = nbdbtproject.NbDbt(project_dir=nbdbt_config['project_dir'], 
                         profiles_dir=nbdbt_config['profiles_dir'],
                         profile_target='dev')

17:32:30  Registered adapter: duckdb=1.7.0
17:32:30  Running with dbt=1.7.4
17:32:30  Registered adapter: duckdb=1.7.0
17:32:30  Unable to do partial parsing because config vars, config profile, or config target have changed
17:32:31  Statements to run:
17:32:32  [WARNING]: Configuration paths exist in your dbt_project.yml file which do not apply to any resources.
There are 2 unused configuration paths:
- models.test_dbt_project2.conformed
- models.test_dbt_project2.prep
17:32:32  Performance info: /home/butch2/play/experiments/nbtools/nbdbt2/test_dbt_project2/target/perf_info.json
17:32:32  Found 1 model, 1 analysis, 1 operation, 8 sources, 0 exposures, 0 metrics, 506 macros, 0 groups, 0 semantic models
17:32:32 [fal]: [WARNING]: Could not read dbt sources artifact: Runtime Error
  Could not read FreshnessExecutionResultArtifact at "target/sources.json" as JSON: [Errno 2] No such file or directory: 'target/sources.json'

In [ ]:
nbdbt2.list_models()

[DbtModel(name='raw_schedule', alias='raw_schedule', unique_id='model.test_dbt_project2.raw_schedule', columns={}, tests=[], status='success')]

In [ ]:
models = nbdbt2.list_models(); 
models[0].schema

17:32:32  Registered adapter: duckdb=1.7.0
17:32:32  Running with dbt=1.7.4
17:32:32  Registered adapter: duckdb=1.7.0
17:32:32  [WARNING]: Configuration paths exist in your dbt_project.yml file which do not apply to any resources.
There are 2 unused configuration paths:
- models.test_dbt_project2.conformed
- models.test_dbt_project2.prep
17:32:32  Performance info: /home/butch2/play/experiments/nbtools/nbdbt2/test_dbt_project2/target/perf_info.json
17:32:32  Found 1 model, 1 analysis, 1 operation, 8 sources, 0 exposures, 0 metrics, 506 macros, 0 groups, 0 semantic models
17:32:32 [fal]: [WARNING]: Could not read dbt sources artifact: Runtime Error
  Could not read FreshnessExecutionResultArtifact at "target/sources.json" as JSON: [Errno 2] No such file or directory: 'target/sources.json'
17:32:32  [WARNING]: Configuration paths exist in your dbt_project.yml file which do not apply to any resources.
There are 2 unused configuration paths:
- models.test_dbt_project2.conformed
- models.test_dbt_project2.prep

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,mdsbox,main,raw_schedule,series_id,1,None,YES,BIGINT,None,None,...,None,None,None,None,None,None,None,None,None,None
1,mdsbox,main,raw_schedule,type,2,None,YES,VARCHAR,None,None,...,None,None,None,None,None,None,None,None,None,None
2,mdsbox,main,raw_schedule,key,3,None,YES,BIGINT,None,None,...,None,None,None,None,None,None,None,None,None,None
3,mdsbox,main,raw_schedule,date,4,None,YES,VARCHAR,None,None,...,None,None,None,None,None,None,None,None,None,None
4,mdsbox,main,raw_schedule,_smart_source_lineno,5,None,YES,BIGINT,None,None,...,None,None,None,None,None,None,None,None,None,None
5,mdsbox,main,raw_schedule,arena,6,None,YES,VARCHAR,None,None,...,None,None,None,None,None,None,None,None,None,None
6,mdsbox,main,raw_schedule,_smart_source_file,7,None,YES,VARCHAR,None,None,...,None,None,None,None,None,None,None,None,None,None
7,mdsbox,main,raw_schedule,_sdc_extracted_at,8,None,YES,VARCHAR,None,None,...,None,None,None,None,None,None,None,None,None,None
8,mdsbox,main,raw_schedule,pts,9,None,YES,INTEGER,None,None,...,None,None,None,None,None,None,None,None,None,None
9,mdsbox,main,raw_schedule,homeneutral,10,None,YES,VARCHAR,None,None,...,None,None,None,None,None,None,None,None,None,None
10,mdsbox,main,raw_schedule,notes,11,None,YES,INTEGER,None,None,...,None,None,None,None,None,None,None,None,None,None
11,mdsbox,main,raw_schedule,visitorneutral,12,None,YES,VARCHAR,None,None,...,None,None,None,None,None,None,None,None,None,None
12,mdsbox,main,raw_schedule,attend,13,None,YES,INTEGER,None,None,...,None,None,None,None,None,None,None,None,None,None
13,mdsbox,main,raw_schedule,start_et,14,None,YES,VARCHAR,None,None,...,None,None,None,None,None,None,None,None,None,None
14,mdsbox,main,raw_schedule,_smart_source_bucket,15,None,YES,VARCHAR,None,None,...,None,None,None,None,None,None,None,None,None,None

In [ ]:
import nbdbt2.integration.lib as nbdbtlib

In [ ]:
sdf = schedule.ref()

17:32:33  Registered adapter: duckdb=1.7.0
17:32:33  Running with dbt=1.7.4
17:32:33  Registered adapter: duckdb=1.7.0
17:32:33  [WARNING]: Configuration paths exist in your dbt_project.yml file which do not apply to any resources.
There are 2 unused configuration paths:
- models.test_dbt_project2.conformed
- models.test_dbt_project2.prep
17:32:33  Performance info: /home/butch2/play/experiments/nbtools/nbdbt2/test_dbt_project2/target/perf_info.json
17:32:33  Found 1 model, 1 analysis, 1 operation, 8 sources, 0 exposures, 0 metrics, 506 macros, 0 groups, 0 semantic models
17:32:33 [fal]: [WARNING]: Could not read dbt sources artifact: Runtime Error
  Could not read FreshnessExecutionResultArtifact at "target/sources.json" as JSON: [Errno 2] No such file or directory: 'target/sources.json'

In [ ]:
sdf.head()

,series_id,type,key,date,_smart_source_lineno,arena,_smart_source_file,_sdc_extracted_at,pts,homeneutral,notes,visitorneutral,attend,start_et,_smart_source_bucket
0,0,reg_season,1,Tue Oct 18 2022,2,TD Garden,nba_schedule_2023.csv,2022-11-29T15:49:10.947545,None,Boston Celtics,None,Philadelphia 76ers,None,7:30p,file://./data
1,0,reg_season,2,Tue Oct 18 2022,3,Chase Center,nba_schedule_2023.csv,2022-11-29T15:49:10.947945,None,Golden State Warriors,None,Los Angeles Lakers,None,10:00p,file://./data
2,0,reg_season,3,Wed Oct 19 2022,4,Little Caesars Arena,nba_schedule_2023.csv,2022-11-29T15:49:10.948268,None,Detroit Pistons,None,Orlando Magic,None,7:00p,file://./data
3,0,reg_season,4,Wed Oct 19 2022,5,Gainbridge Fieldhouse,nba_schedule_2023.csv,2022-11-29T15:49:10.948541,None,Indiana Pacers,None,Washington Wizards,None,7:00p,file://./data
4,0,reg_season,5,Wed Oct 19 2022,6,State Farm Arena,nba_schedule_2023.csv,2022-11-29T15:49:10.948829,None,Atlanta Hawks,None,Houston Rockets,None,7:30p,file://./data

In [ ]:
result = nbdbtlib.execute_sql(
    schedule.project_dir,
    schedule.profile_dir,
    nbdbt._profile_target,
    schedule._compiled_sql)

In [ ]:
result.columns

Index(['series_id', 'type', 'key', 'date', '_smart_source_lineno', 'arena',
       '_smart_source_file', '_sdc_extracted_at', 'pts', 'homeneutral',
       'notes', 'visitorneutral', 'attend', 'start_et',
       '_smart_source_bucket'],
      dtype='object')

In [ ]:
result.dtypes

series_id                int64
type                    object
key                      int64
date                    object
_smart_source_lineno     int64
arena                   object
_smart_source_file      object
_sdc_extracted_at       object
pts                     object
homeneutral             object
notes                   object
visitorneutral          object
attend                  object
start_et                object
_smart_source_bucket    object
dtype: object

In [ ]:
result.head()

,series_id,type,key,date,_smart_source_lineno,arena,_smart_source_file,_sdc_extracted_at,pts,homeneutral,notes,visitorneutral,attend,start_et,_smart_source_bucket
0,0,reg_season,1,Tue Oct 18 2022,2,TD Garden,nba_schedule_2023.csv,2022-11-29T15:49:10.947545,None,Boston Celtics,None,Philadelphia 76ers,None,7:30p,file://./data
1,0,reg_season,2,Tue Oct 18 2022,3,Chase Center,nba_schedule_2023.csv,2022-11-29T15:49:10.947945,None,Golden State Warriors,None,Los Angeles Lakers,None,10:00p,file://./data
2,0,reg_season,3,Wed Oct 19 2022,4,Little Caesars Arena,nba_schedule_2023.csv,2022-11-29T15:49:10.948268,None,Detroit Pistons,None,Orlando Magic,None,7:00p,file://./data
3,0,reg_season,4,Wed Oct 19 2022,5,Gainbridge Fieldhouse,nba_schedule_2023.csv,2022-11-29T15:49:10.948541,None,Indiana Pacers,None,Washington Wizards,None,7:00p,file://./data
4,0,reg_season,5,Wed Oct 19 2022,6,State Farm Arena,nba_schedule_2023.csv,2022-11-29T15:49:10.948829,None,Atlanta Hawks,None,Houston Rockets,None,7:30p,file://./data

In [ ]:
result2 = schedule.ref(limit=None);result2.head()

17:32:34  Registered adapter: duckdb=1.7.0
17:32:34  Running with dbt=1.7.4
17:32:34  Registered adapter: duckdb=1.7.0
17:32:34  [WARNING]: Configuration paths exist in your dbt_project.yml file which do not apply to any resources.
There are 2 unused configuration paths:
- models.test_dbt_project2.conformed
- models.test_dbt_project2.prep
17:32:34  Performance info: /home/butch2/play/experiments/nbtools/nbdbt2/test_dbt_project2/target/perf_info.json
17:32:34  Found 1 model, 1 analysis, 1 operation, 8 sources, 0 exposures, 0 metrics, 506 macros, 0 groups, 0 semantic models
17:32:34 [fal]: [WARNING]: Could not read dbt sources artifact: Runtime Error
  Could not read FreshnessExecutionResultArtifact at "target/sources.json" as JSON: [Errno 2] No such file or directory: 'target/sources.json'

,series_id,type,key,date,_smart_source_lineno,arena,_smart_source_file,_sdc_extracted_at,pts,homeneutral,notes,visitorneutral,attend,start_et,_smart_source_bucket
0,0,reg_season,1,Tue Oct 18 2022,2,TD Garden,nba_schedule_2023.csv,2022-11-29T15:49:10.947545,None,Boston Celtics,None,Philadelphia 76ers,None,7:30p,file://./data
1,0,reg_season,2,Tue Oct 18 2022,3,Chase Center,nba_schedule_2023.csv,2022-11-29T15:49:10.947945,None,Golden State Warriors,None,Los Angeles Lakers,None,10:00p,file://./data
2,0,reg_season,3,Wed Oct 19 2022,4,Little Caesars Arena,nba_schedule_2023.csv,2022-11-29T15:49:10.948268,None,Detroit Pistons,None,Orlando Magic,None,7:00p,file://./data
3,0,reg_season,4,Wed Oct 19 2022,5,Gainbridge Fieldhouse,nba_schedule_2023.csv,2022-11-29T15:49:10.948541,None,Indiana Pacers,None,Washington Wizards,None,7:00p,file://./data
4,0,reg_season,5,Wed Oct 19 2022,6,State Farm Arena,nba_schedule_2023.csv,2022-11-29T15:49:10.948829,None,Atlanta Hawks,None,Houston Rockets,None,7:30p,file://./data

In [ ]:

result3 = schedule.ref(limit=2000);result3.head()

17:32:34  Registered adapter: duckdb=1.7.0
17:32:34  Running with dbt=1.7.4
17:32:34  Registered adapter: duckdb=1.7.0
17:32:34  [WARNING]: Configuration paths exist in your dbt_project.yml file which do not apply to any resources.
There are 2 unused configuration paths:
- models.test_dbt_project2.conformed
- models.test_dbt_project2.prep
17:32:34  Performance info: /home/butch2/play/experiments/nbtools/nbdbt2/test_dbt_project2/target/perf_info.json
17:32:34  Found 1 model, 1 analysis, 1 operation, 8 sources, 0 exposures, 0 metrics, 506 macros, 0 groups, 0 semantic models
17:32:34 [fal]: [WARNING]: Could not read dbt sources artifact: Runtime Error
  Could not read FreshnessExecutionResultArtifact at "target/sources.json" as JSON: [Errno 2] No such file or directory: 'target/sources.json'

,series_id,type,key,date,_smart_source_lineno,arena,_smart_source_file,_sdc_extracted_at,pts,homeneutral,notes,visitorneutral,attend,start_et,_smart_source_bucket
0,0,reg_season,1,Tue Oct 18 2022,2,TD Garden,nba_schedule_2023.csv,2022-11-29T15:49:10.947545,None,Boston Celtics,None,Philadelphia 76ers,None,7:30p,file://./data
1,0,reg_season,2,Tue Oct 18 2022,3,Chase Center,nba_schedule_2023.csv,2022-11-29T15:49:10.947945,None,Golden State Warriors,None,Los Angeles Lakers,None,10:00p,file://./data
2,0,reg_season,3,Wed Oct 19 2022,4,Little Caesars Arena,nba_schedule_2023.csv,2022-11-29T15:49:10.948268,None,Detroit Pistons,None,Orlando Magic,None,7:00p,file://./data
3,0,reg_season,4,Wed Oct 19 2022,5,Gainbridge Fieldhouse,nba_schedule_2023.csv,2022-11-29T15:49:10.948541,None,Indiana Pacers,None,Washington Wizards,None,7:00p,file://./data
4,0,reg_season,5,Wed Oct 19 2022,6,State Farm Arena,nba_schedule_2023.csv,2022-11-29T15:49:10.948829,None,Atlanta Hawks,None,Houston Rockets,None,7:30p,file://./data

In [ ]:

result4 = schedule.ref();result4.head()

17:32:35  Registered adapter: duckdb=1.7.0
17:32:35  Running with dbt=1.7.4
17:32:35  Registered adapter: duckdb=1.7.0
17:32:35  [WARNING]: Configuration paths exist in your dbt_project.yml file which do not apply to any resources.
There are 2 unused configuration paths:
- models.test_dbt_project2.conformed
- models.test_dbt_project2.prep
17:32:35  Performance info: /home/butch2/play/experiments/nbtools/nbdbt2/test_dbt_project2/target/perf_info.json
17:32:35  Found 1 model, 1 analysis, 1 operation, 8 sources, 0 exposures, 0 metrics, 506 macros, 0 groups, 0 semantic models
17:32:35 [fal]: [WARNING]: Could not read dbt sources artifact: Runtime Error
  Could not read FreshnessExecutionResultArtifact at "target/sources.json" as JSON: [Errno 2] No such file or directory: 'target/sources.json'

,series_id,type,key,date,_smart_source_lineno,arena,_smart_source_file,_sdc_extracted_at,pts,homeneutral,notes,visitorneutral,attend,start_et,_smart_source_bucket
0,0,reg_season,1,Tue Oct 18 2022,2,TD Garden,nba_schedule_2023.csv,2022-11-29T15:49:10.947545,None,Boston Celtics,None,Philadelphia 76ers,None,7:30p,file://./data
1,0,reg_season,2,Tue Oct 18 2022,3,Chase Center,nba_schedule_2023.csv,2022-11-29T15:49:10.947945,None,Golden State Warriors,None,Los Angeles Lakers,None,10:00p,file://./data
2,0,reg_season,3,Wed Oct 19 2022,4,Little Caesars Arena,nba_schedule_2023.csv,2022-11-29T15:49:10.948268,None,Detroit Pistons,None,Orlando Magic,None,7:00p,file://./data
3,0,reg_season,4,Wed Oct 19 2022,5,Gainbridge Fieldhouse,nba_schedule_2023.csv,2022-11-29T15:49:10.948541,None,Indiana Pacers,None,Washington Wizards,None,7:00p,file://./data
4,0,reg_season,5,Wed Oct 19 2022,6,State Farm Arena,nba_schedule_2023.csv,2022-11-29T15:49:10.948829,None,Atlanta Hawks,None,Houston Rockets,None,7:30p,file://./data

In [ ]:
sources[0].node.path

'models/_sources.yml'

In [ ]:
nbdbt.project_dir

'/home/butch2/play/experiments/nbtools/nbdbt2/test_dbt_project2'

In [ ]:
from pathlib import Path

In [ ]:
source_path = Path(nbdbt.project_dir)/sources[0].node.path; source_path

Path('/home/butch2/play/experiments/nbtools/nbdbt2/test_dbt_project2/models/_sources.yml')

In [ ]:
source_path.exists()

True

In [ ]:
import yaml

In [ ]:
with open(source_path) as stream:
    try:
        source_contents = yaml.safe_load(stream)
    except yaml.YAMLError as exc:
        print(exc)

In [ ]:
sb = source_contents

In [ ]:
sb.keys()

dict_keys(['version', 'sources'])

In [ ]:
from fastcore.all import L

In [ ]:
sbsources = sb['sources']

In [ ]:
sbsources[0]['tables']

[{'name': 'schedule',
  'identifier': 'nba_schedule_2023',
  'description': 'this is the nba schedule'},
 {'name': 'team_ratings', 'description': 'team ELO ratings & win totals'},
 {'name': 'xf_series_to_seed',
  'description': 'cross ref table to match series to seeds'},
 {'name': 'nba_elo_latest', 'description': 'ratings from 538 repo'},
 {'name': 'latest_RAPTOR_by_player',
  'description': '538 RAPTOR ratings by player'},
 {'name': 'latest_RAPTOR_by_team',
  'description': '538 RAPTOR ratings by player by team & game type'}]

In [ ]:
sbsources[0]['tables'][0]

{'name': 'schedule',
 'identifier': 'nba_schedule_2023',
 'description': 'this is the nba schedule'}

In [ ]:
sbsources[0]['tables'][1]

{'name': 'team_ratings', 'description': 'team ELO ratings & win totals'}